# ----------------------------------------
# Application Configuration
# ----------------------------------------
NODE_ENV=production
PORT=3000
API_EXPOSE_PORT=4000
JWT_SECRET=your_super_secret_long_jwt_key_here

# ----------------------------------------
# PostgreSQL Configuration
# ----------------------------------------
POSTGRES_USER=wms_admin
POSTGRES_PASSWORD=your_secure_db_password
POSTGRES_DB=wms_production
DATABASE_URL=postgres://username:password@host:port/database


# ----------------------------------------
# Initial Super Admin Seed
# ----------------------------------------
ADMIN_EMAIL=admin@yourdomain.com
ADMIN_PASSWORD=your_secure_admin_password

# ----------------------------------------
# Grafana / Loki Log Tracing Configuration
# ----------------------------------------
GRAFANA_PORT=3101
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=your_secure_grafana_password
GRAFANA_ROOT_URL=http://localhost:3101 # OR https://logs.yourdomain.com if behind a reverse proxy
LOKI_URL=http://localhost:3100 # Change to http://loki:3100 if running inside docker-compose
